.table{
  border-radius: 6px;
  background: linear-gradient(180deg, #EFF2FF -30.56%, rgba(232, 236, 255, 0) 135.85%) !important;
  padding:50px 70px;

}
#example{
width: 10px;
  background-color: transparent;

}
thead{
  background-color: white !important;
}
table.dataTable.no-footer{
border:2px 0 2px  2px solid #EAEAEA !important;
border-radius :4px !important
}
